@tailwind base;
@tailwind components;
@tailwind utilities;


@media (prefers-color-scheme: light) {
  ::-webkit-scrollbar-thumb {
    background-color: #daf50d;
  }

  ::-webkit-scrollbar-track {
    background-color:  black; 
  }
  }
  

  @media (prefers-color-scheme: dark) {
    ::-webkit-scrollbar-thumb {
      background-color: #daf50d;
    }
  
    ::-webkit-scrollbar-track {
      background-color:  black; 
    }
  
  }


  
 @font-face {
  font-family: 'Urbanist';
  src: url("./font/Urbanist-Bold.woff2");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}


/*

@font-face {
  font-family: 'SomarBold';
  src: url();
  font-style: normal;
  font-weight: 800;
  font-display: swap;
}

@font-face {
  font-family: 'SomarExtraBold';
  src: url();
  font-style: normal;
  font-weight: 800;
  font-display: swap;
} */




  body,html{
    overflow-x: clip;
    margin: 0;
    padding: 0;
    font-family: 'Urbanist';
    background-color: black;
  }